HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local_keystore

### IntelliJ IDEA ###
out/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources
.idea/dictionaries
.idea/**/shelf
.idea/**/workspace.xml
!**/src/main/**/out/
!**/src/test/**/out/

# *.iws 사용자별 설정을 공유하는 파일

# Gradle
.idea/**/gradle.xml
.idea/**/libraries


