<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky-게시판</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/board-list.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <a class="btn btn-primary float-end" th:href="@{/board/create}">글쓰기</a>
    <div class="list-board">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td class="table-id">글 번호</td>
                <td class="table-title">제목</td>
                <td class="table-createdate">등록일</td>
            </tr>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}">
                    글 번호 표시 공간
                </td>
                <td>
                    <a class="link-title" th:href="@{|/board/${board.id}|}" th:text="${board.title}">
                        글 제목 표시 공간
                    </a>
                </td>
                <td th:text="${#temporals.format(board.createDateTime,'yyyy-MM-dd HH:mm:ss')}">
                    등록일 표시 공간
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="float-end" aria-label="board pagination">
        <ul class="pagination">
            <th:block th:if="${startPageNum} > 1">
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=1)}" aria-label="first">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${startPageNum}-1)}" aria-label="previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${startPageNum} > 1">
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&lt;</span>
                </li>
            </th:block>

            <th:block th:each="pageNum : ${#numbers.sequence(startPageNum,endPageNum)}">
                <th:block th:if="${pageNum} == ${requestedPageNum}">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link" th:text="${pageNum}">1</span>
                    </li>
                </th:block>
                <th:block th:unless="${pageNum} == ${requestedPageNum}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/board(page=${pageNum})}" th:text="${pageNum}">1</a>
                    </li>
                </th:block>
            </th:block>

            <th:block th:if="${totalPagesNum} > ${endPageNum}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${endPageNum}+1)}" aria-label="next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${totalPagesNum})}" aria-label="end">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${totalPagesNum} > ${endPageNum}">
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&gt;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            </th:block>
        </ul>
    </nav>
</div>
<script type="module" src="/js/board-list.js"></script>
</body>
</html>