<!DOCTYPE html>
<html lang="ko-KR">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::th:block})}">
    <meta charset="UTF-8">
    <title>bluesky-게시판</title>
    <th:block>
        <link rel="stylesheet" href="/css/board-list.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <button type="button" class="btn btn-primary" style="float: right" th:onclick="|location.href='@{board/create}'|">글
        쓰기
    </button>
    <div style="padding-top: 10%">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td class="table-id">글 번호</td>
                <td class="table-title">제목</td>
                <td class="table-createdate">등록일</td>
            </tr>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}">
                    글 번호 표시 공간
                </td>
                <td>
                    <a class="link-title" th:href="@{|board/${board.id}|}" th:text="${board.title}">
                        글 제목 표시 공간
                    </a>
                </td>
                <td th:text="${#temporals.format(board.createDateTime,'yyyy-MM-dd HH:mm:ss')}">
                    등록일 표시 공간
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>