<!DOCTYPE html>
<html lang="ko-KR">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::th:block})}">
    <meta charset="UTF-8">
    <title>bluesky-게시판</title>
    <th:block>
        <link rel="stylesheet" href="/css/board-list.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <a class="btn btn-primary float-end" th:href="@{board/create}">글쓰기</a>
    <div class="list-board">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td class="table-id">글 번호</td>
                <td class="table-title">제목</td>
                <td class="table-createdate">등록일</td>
            </tr>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}">
                    글 번호 표시 공간
                </td>
                <td>
                    <a class="link-title" th:href="@{|board/${board.id}|}" th:text="${board.title}">
                        글 제목 표시 공간
                    </a>
                </td>
                <td th:text="${#temporals.format(board.createDateTime,'yyyy-MM-dd HH:mm:ss')}">
                    등록일 표시 공간
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<script type="module" src="/js/board-list.js"></script>
</body>
</html>