<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky-글 쓰기</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/board-form.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <form method="post" th:action th:object="${boardForm}" th:name="boardForm">
        <div class="form-title">
            <label th:for="title" class="form-label">제목</label>
            <span data-overflow-titlesize="false">
                (<!--
             --><span data-current-titlesize="0">0</span><!--
             -->/<!--
             --><span th:data-max-titlesize="${MAX_TITLE_SIZE}" th:text="${MAX_TITLE_SIZE}">100</span><!--
             -->)
            </span>
            <input th:field="*{title}" type="text" class="form-control"/>
        </div>
        <div class="editor-box mt-3">
            <div class="editor-toolbar-box">
                <div class="editor-toolbar">
                    <button class="btn-toggle btn-editor-toolbar-start" type="button" data-style="bold"
                            aria-pressed="false">
                        <b>가</b>
                    </button>
                    <button class="btn-toggle btn-editor-toolbar" type="button" data-style="italic"
                            aria-pressed="false">
                        <i>가</i>
                    </button>
                    <button class="btn-toggle btn-editor-toolbar" type="button" data-style="underline"
                            aria-pressed="false">
                        <u>가</u>
                    </button>
                    <button class="btn-toggle btn-editor-toolbar-end" type="button" data-style="strikethrough"
                            aria-pressed="false">
                        <s>가</s>
                    </button>

                    <div class="dropdown-fontsize-box" data-active="false">
                        <button class="btn-fontsize" type="button">
                            글자 크기
                        </button>
                        <button class="btn-dropdown-fontsize border-top-none" type="button" data-fontsize="3">
                            가
                        </button>
                        <button class="btn-dropdown-fontsize" type="button" data-fontsize="5">
                            가
                        </button>
                        <button class="btn-dropdown-fontsize border-bottom-gray" type="button" data-fontsize="6">
                            가
                        </button>
                    </div>
                </div>
            </div>
            <div class="editor" contenteditable="true"></div>
            <input type="hidden" name="content">
        </div>
        <div class="editor-bottom">
            <p class="d-inline-block mt-2 mb-0">
                <span data-overflow-contentsize="false">
                    (<!--
                 --><span data-current-contentsize="0">0</span><!--
                 -->/<!--
                 --><span th:data-max-contentsize="${MAX_CONTENT_SIZE}" th:text="${MAX_CONTENT_SIZE}">1000</span><!--
                 -->)
                </span>
                글자 수
            </p>
            <button type="submit" class="btn btn-primary btn-lg btn-submit mt-3">등록</button>
            <p>
                <span data-overflow-htmlsize="false">
                    (<!--
                 --><span data-current-htmlsize="0">0</span><!--
                 -->/<!--
                 --><span th:data-max-htmlsize="${MAX_HTML_SIZE}" th:text="${MAX_HTML_SIZE}">5000</span><!--
                 -->)
                </span>
                HTML 사이즈
            </p>
        </div>
    </form>
</div>
<script type="module" src="/js/board-form.js"></script>
</body>
</html>