<footer class="bg-light" th:fragment="footer">
    <!--데스크탑 화면-->
    <div class="container-fluid pt-5 pb-5 d-none d-md-block">
        <div class="row">
            <div class="col-md-4 offset-md-3">
                <p class="fw-bold">
                    COMMUNITY
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a>자유 게시판</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <p class="ms-1 fw-bold">
                    CONTACT
                </p>
                <ul class="list-unstyled">
                    <li><a class="text-dark text-decoration-none" href="https://github.com/shawnlsj/bluesky">
                        <span class="text-center d-inline-block layout-icon-footer">
                            <i class="bi bi-github"></i>
                        </span>
                        <span>
                            GitHub
                        </span>
                    </a>
                    </li>
                    <li>
                        <span class="text-center d-inline-block layout-icon-footer">
                            <i class="bi bi-envelope-fill"></i></span>
                        <span>
                             hortensia08@naver.com
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--모바일 화면-->
    <div class="container-fluid pt-5 pb-5 d-md-none">
        <div class="row">
            <div class="col-12">
                <p class="fw-bold">
                    COMMUNITY
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a>자유 게시판</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 mt-3">
                <p class="ms-1 fw-bold">
                    CONTACT
                </p>
                <ul class="list-unstyled">
                    <li><a class="text-dark text-decoration-none" href="https://github.com/shawnlsj/bluesky">
                        <span class="text-center d-inline-block layout-icon-footer">
                            <i class="bi bi-github"></i>
                        </span>
                        <span>
                            GitHub
                        </span>
                    </a>
                    </li>
                    <li>
                        <span class="text-center d-inline-block layout-icon-footer">
                            <i class="bi bi-envelope-fill"></i></span>
                        <span>
                             hortensia08@naver.com
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>