.select-category{
    max-width: 200px;
}

.editor-box {
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}

.editor-toolbar-box {
    height: 50px;
    border-bottom: 1px solid #a0a0a0;
}

.editor-toolbar button:hover[aria-pressed="false"] {
    background-color: #d6d6d6;
}

.editor-toolbar {
    margin: 10px;
    padding: 5px;
    display: table;
}

.btn-editor-toolbar-start {
    border: 1px solid #585858;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.btn-editor-toolbar {
    border: 1px solid #585858;
    border-right: none;
}

.btn-editor-toolbar-end {
    border: 1px solid #585858;
    border-radius: 0 3px 3px 0;
}

.editor {
    padding: 12px;
    overflow: auto;
    height: 50vh;
    outline: 0 solid transparent;
}

.btn-toggle {
    height: 30px;
    width: 30px;
    background-color: #fff;
}

.btn-toggle[aria-pressed="true"] {
    background-color: #989898;
}

.btn-fontsize {
    height: 30px;
    width: 80px;
    border: 1px solid #585858;
    border-radius: 3px;
    background-color: #fff;
}

.btn-dropdown-fontsize {
    display: none;
    border: 1px solid #585858;
    background-color: #fff;
    border-bottom: none;
}

.btn-dropdown-fontsize-top {
    border-top: none;
}

.btn-dropdown-fontsize-bottom {
    border-bottom: 1px solid #585858;
}

.dropdown-fontsize-box {
    margin-left: 2rem;
    float: right;
    position: relative;
    z-index: 99;
}

.dropdown-fontsize-box:hover[data-active="true"] .btn-dropdown-fontsize {
    display: block;
}

.dropdown-fontsize-box:hover .btn-dropdown-fontsize:hover {
    background-color: #d6d6d6;
}

.dropdown-fontsize-box:hover .btn-dropdown-fontsize:active {
    background-color: #989898;
}


.dropdown-fontsize-box:hover .btn-fontsize {
    border-radius: 3px 3px 3px 0;
    background-color: #d6d6d6;
}

.border-bottom-#a0a0a0 {
    border-bottom: 1px solid #a0a0a0;
}

[data-overflow-length="true"] {
    color: #dc3545;
}
