<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 회원 가입 - 가입 완료</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold">&#127881; 회원 가입을 축하합니다! &#127881;</h1>
    </div>
    <div class="mt-5 text-center">
        <p><span class="fw-bold" th:text="${nickname}">nickname</span>님, bluesky 가입을 환영합니다.</p>
    </div>
    <div class="mt-5 d-grid">
        <a class="btn btn-primary d-flex justify-content-center align-items-center" href="/" role="button">홈으로 이동</a>
    </div>
</div>
</body>
</html>