<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 회원 가입 - 정보 입력</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
        <script type="module" src="/js/user/join_form.js" defer></script>
    </th:block>
</head>
<body>
<div th:replace="fragment/modal/fragment_fail_modal :: failModal (title='회원가입 실패',message='서버에 오류가 발생하였습니다. 잠시 후 다시 시도해주세요.')"></div>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold" th:if="${joinFormAttribute.isOriginalUser()}">가입 정보 입력</h1>
        <h1 class="fs-4 fw-bold" th:unless="${joinFormAttribute.isOriginalUser()}">추가 정보 입력</h1>
    </div>
    <div class="mt-5">
        <form id="userSaveForm" method="post" th:action="@{${joinFormAttribute.joinUrl}}" th:object="${userSaveForm}"
              novalidate>
            <input type="hidden" name="token" th:value="${joinFormAttribute.getToken()}">
            <th:block th:if="${joinFormAttribute.isOriginalUser()}">
                <div class="mb-4">
                    <label for="email" class="form-label">이메일</label>
                    <input id="email" class="form-control" th:placeholder="${joinFormAttribute.maskedEmail}" disabled>
                </div>
                <div class="mb-4">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input id="nickname" class="form-control" th:field="*{nickname}" type="text" autocomplete="off">
                    <div class="valid-feedback">사용 가능한 닉네임입니다.</div>
                    <div id="nicknameInvalidFeedback" class="invalid-feedback"></div>
                    <div class="form-text">2자 이상 16자 이하, 다른 사용자와 중복 불가능</div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">비밀번호</label>
                    <input id="password" class="form-control" th:field="*{password}" type="password">
                    <div id="passwordInvalidFeedback" class="invalid-feedback"></div>
                    <div class="form-text">8자 이상, 영문/숫자/특수문자 중 2종류 이상 사용</div>
                </div>
                <div class="mb-5">
                    <label for="passwordCheck" class="form-label">비밀번호 확인</label>
                    <input id="passwordCheck" class="form-control" type="password">
                    <div id="passwordCheckInvalidFeedback" class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                    <div class="form-text">비밀번호를 한번 더 입력해 주세요.</div>
                </div>
            </th:block>
            <th:block th:unless="${joinFormAttribute.isOriginalUser()}">
                <div class="mb-5">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input id="nickname" class="form-control" th:field="*{nickname}" type="text" autocomplete="off">
                    <div class="valid-feedback">사용 가능한 닉네임입니다.</div>
                    <div id="nicknameInvalidFeedback" class="invalid-feedback"></div>
                    <div class="form-text">2자 이상 16자 이하, 다른 사용자와 중복 불가능</div>
                </div>
            </th:block>
            <div class="d-grid mt-4">
                <button type="submit" id="sendButton"
                        class="btn btn-primary btn-join fw-bold toggle-block"
                        data-display="true">
                    가입하기
                </button>
                <button type="button" id="sendButtonSpinner"
                        class="btn btn-primary toggle-block"
                        data-display="false" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">로딩 중...</span>
                </button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    const MAX_EMAIL_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MAX_EMAIL_LENGTH}]];
    const MIN_PASSWORD_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MIN_PASSWORD_LENGTH}]];
    const MAX_PASSWORD_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MAX_PASSWORD_LENGTH}]];
    const MIN_NICKNAME_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MIN_NICKNAME_LENGTH}]];
    const MAX_NICKNAME_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MAX_NICKNAME_LENGTH}]];
</script>
</body>
</html>