<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 로그인</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
        <script type="module" src="/js/user/login_form.js" defer></script>
    </th:block>
</head>
<body>
<div th:replace="fragment/modal/fragment_fail_modal :: failModal (title='로그인 실패',message='이메일 또는 비밀번호를 다시 확인해 주세요.')"></div>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold">로그인</h1>
    </div>
    <div class="mt-5">
        <form id="loginForm" method="post" action="/login" novalidate>
            <div class="mb-3">
                <input id="email" class="form-control" name="username"  placeholder="이메일" type="email" th:value="${email}">
                <div class="invalid-feedback">
                    이메일 형식이 올바르지 않습니다.
                </div>
            </div>
            <div class="mb-4">
                <input id="password" class="form-control" name="password" placeholder="비밀번호" type="password">
            </div>
            <div class="d-grid">
                <button id="sendButton" class="btn btn-primary toggle-block" data-display="true" type="submit">
                    로그인
                </button>
                <button id="sendButtonSpinner" class="btn btn-primary toggle-block" data-display="false" type="button"
                        disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">로딩중...</span>
                </button>
            </div>
        </form>
    </div>
    <div class="mt-2 d-flex justify-content-end align-items-center fs-sm">
        <a class="text-dark text-decoration-none" th:href="@{/reset-password}">비밀번호 재설정</a>
        <span class="vl-sm ms-2 me-2"></span>
        <a class="text-dark text-decoration-none" th:href="@{/join}">회원가입</a>
    </div>
    <div class="mt-4 pt-3 border-top-gray">
        <p class="fw-bold">간편 로그인</p>
        <a class="text-decoration-none" href="/oauth2/authorization/google">
            <div class="layout-btn layout-btn-google d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="item-icon" src="/images/logo-google.png" alt="google">
                </div>
                <div class="item-text flex-grow-1 text-center">
                    구글 로그인
                </div>
            </div>
        </a>
        <a class="text-decoration-none d-block mt-2" href="/oauth2/authorization/kakao">
            <div class="layout-btn layout-btn-kakao d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="item-icon" src="/images/logo-kakao.png" alt="kakao">
                </div>
                <div class="item-text flex-grow-1 text-center">
                    카카오 로그인
                </div>
            </div>
        </a>
        <a class="text-decoration-none d-block mt-2" href="/oauth2/authorization/naver">
            <div class="layout-btn layout-btn-naver d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="item-icon" src="/images/logo-naver.png" alt="naver">
                </div>
                <div class="item-text flex-grow-1 text-center">
                    네이버 로그인
                </div>
            </div>
        </a>
    </div>
</div>
<script th:inline="javascript">
    const MAX_EMAIL_LENGTH
        = [[${T(com.bluesky.mainservice.controller.user.constant.UserOption).MAX_EMAIL_LENGTH}]];
</script>
</body>
</html>