<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title th:text="'bluesky - ' + ${profile.nickname} + '님의 프로필'">프로필</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/profile.css"/>
    </th:block>
</head>
<body>
<div class="body-wrapper">
    <div class="header" th:replace="fragment/fragment_header :: header"></div>
    <div class="main-container container-fluid d-md-flex">
        <div class="d-flex flex-grow-1 justify-content-center">
            <div class="pt-5 pb-5 mb-2 d-flex flex-column align-items-center">
                <div>
                    <img class="user-profile-image"
                         th:src="@{/images/user/profile/{profileImage}(profileImage=${profile.profileImage})}"
                         alt="profile">
                </div>
                <h1 class="mt-3 fs-3-fixed text-center" th:text="${profile.nickname}"></h1>
                <div>
                    <div class="mt-3 d-flex">
                        <div class="profile-count-subject">
                            <span class="fw-bold">게시글</span>
                        </div>
                        <div class="profile-count-content">
                            <span th:text="${profile.boardCount}"></span>
                        </div>
                    </div>
                    <div class="mt-2 d-flex">
                        <div class="profile-count-subject">
                            <span class="fw-bold">댓글</span>
                        </div>
                        <div class="profile-count-content">
                            <span th:text="${profile.replyCount}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer" th:replace="fragment/fragment_footer :: footer"></div>
</div>
</body>
</html>