<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 비밀번호 재설정 완료</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold">🔒 비밀번호 재설정 완료</h1>
    </div>
    <div class="mt-5 text-center">
        <p>비밀번호 변경이 성공적으로 완료되었습니다.</p>
    </div>
    <div class="mt-5 d-grid">
        <a class="btn btn-primary d-flex justify-content-center align-items-center" href="/" role="button">홈으로 이동</a>
    </div>
</div>
</body>
</html>