<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 비밀번호 재설정 - 이메일 확인</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
        <script type="module" src="/js/user/reset_password_verification.js" defer></script>
    </th:block>
</head>
<body>
<div id="successModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalSuccessTitle" class="fw-bold modal-title">
                    <i class="me-2 bi bi-check-circle"></i>인증메일 발신 완료
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-1 mb-1">
                <span id="successModalBody">수신한 이메일을 통하여 비밀번호 재설정을 진행해주세요.</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<div id="failModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalFailTitle" class="fw-bold modal-title">
                    <i class="me-2 bi bi-exclamation-triangle"></i>인증메일 발신 실패
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-1 mb-1">
                <span id="failModalBody">이메일 형식이 올바르지 않습니다.</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold">비밀번호 재설정</h1>
    </div>
    <div class="mt-5">
        <form id="verificationForm" method="post" novalidate>
            <div>
                <label for="email" class="form-label">이메일</label>
                <input id="email" class="form-control form-email" type="email">
                <div class="form-text">로그인시 사용하는 이메일을 입력하여 주세요.</div>
                <div class="invalid-feedback">
                    이메일 형식이 올바르지 않습니다.
                </div>
                <input id="hiddenEmail" name="email" type="hidden">
            </div>
            <div class="d-grid mt-4">
                <p>아래 버튼을 눌러 이메일 인증을 진행하여 주세요.</p>
                <button id="sendButton" class="btn btn-primary toggle-block" data-display="true" type="submit">
                    인증메일 보내기
                </button>
                <button id="sendButtonSpinner" class="btn btn-primary toggle-block" data-display="false" type="button"
                        disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">로딩중...</span>
                </button>
            </div>
            <div class="mt-2 mb-0 message-resend toggle-flex justify-content-end" data-display="false">
                <span>메일을 받지 못하셨나요?</span>
                <a id="resendButton" class="ps-2 link-dark toggle-inline" href="#" data-display="true">인증메일 재발송</a>
                <div id="resendSpinner" class="toggle-inline-block text-center" data-display="false">
                    <div class="spinner-border text-dark spinner-border-sm" role="status">
                        <span class="visually-hidden">로딩 중...</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>