<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky 비밀번호 재설정</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/user/anonymous_page.css"/>
        <script type="module" src="/js/user/reset_password_form.js" defer></script>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <a th:href="@{/}">
            <img class="img-logo" src="/images/logo.png" alt="bluesky">
        </a>
    </div>
    <div class="mt-5 text-center">
        <h1 class="fs-4 fw-bold">비밀번호 재설정</h1>
    </div>
    <div class="mt-5">
        <form id="resetPasswordForm" method="post" th:action="@{/reset-password}" novalidate>
            <input type="hidden" name="token" th:value="${token}">
                <div class="mb-4">
                    <label for="password" class="form-label">비밀번호</label>
                    <input id="password" class="form-control" name="password" type="password">
                    <div id="passwordInvalidFeedback" class="invalid-feedback"></div>
                    <div class="form-text">8자 이상, 영문/숫자/특수문자 중 2종류 이상 사용</div>
                </div>
                <div class="mb-5">
                    <label for="passwordCheck" class="form-label">비밀번호 확인</label>
                    <input id="passwordCheck" class="form-control" type="password">
                    <div id="passwordCheckInvalidFeedback" class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                    <div class="form-text">비밀번호를 한번 더 입력해 주세요.</div>
                </div>
            <div class="d-grid mt-4">
                <button id="sendButton" class="btn btn-primary btn-join fw-bold toggle-block" data-display="true" type="submit">
                    비밀번호 변경하기
                </button>
                <button id="sendButtonSpinner" class="btn btn-primary toggle-block" data-display="false" type="button"
                        disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">로딩 중...</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>