<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment_head :: head (~{::title},~{::head-block})}">
    <meta charset="UTF-8">
    <title>bluesky - 메인</title>
    <th:block th:fragment="head-block">
        <link rel="stylesheet" href="/css/index.css"/>
        <script type="module" src="/js/index.js" defer></script>
    </th:block>
</head>
<body>
<div id="failModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="failModalTitle" class="fw-bold modal-title">
                    <i class="me-2 bi bi-exclamation-triangle"></i>페이지 로딩 실패
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-1 mb-1">
                <span id="failModalBody" th:text="${message}"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<div class="body-wrapper">
    <div class="header" th:replace="fragment/fragment_header :: header"></div>
    <div class="body-container container-fluid">
    </div>
    <div class="footer" th:replace="fragment/fragment_footer :: footer"></div>
</div>
</body>
</html>
